.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

node_modules
.idea/

build/
.env*

.docker/data
.docker/uploads/
!.docker/uploads/img0.jpg
!.docker/uploads/img1.jpg
!.docker/uploads/img2.jpg
!.docker/uploads/img3.jpg
!.docker/uploads/img4.jpg
!.docker/uploads/img5.jpg
!.docker/uploads/img6.jpg
!.docker/uploads/img7.jpg
!.docker/uploads/img8.jpg
!.docker/uploads/img9.jpg
!.docker/uploads/Parco_CampoFiori.jpg
!.docker/uploads/Parco_GoleBreggia.jpg
!.docker/uploads/Parco_Penz.jpg
!.docker/uploads/Parco_Pineta.jpg
!.docker/uploads/Parco_SpinaVerde.jpg
!.docker/uploads/video1.mp4
!.docker/uploads/video2.webm
